1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:
t=tuple()
for i in range (1,101):
    if (i%3==0 and i%5==0): 
        print("HelloWorld")
        t+= ("PythonWorks",)
    elif (i%3 == 0): 
        print("Hello")
        t+=('Python',)
    elif (i%5==0): 
        print("World")
        t+=('Works',)
    else: 
        print (i) 
        t+= (i,)
print(t)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [2]:
x= input("Set the value of x: ")
y= input("Set the value of y: ")
x,y=y,x
print ("value of x: ", x)
print ("value of y: ", y)

value of x:  5
value of y:  3

3\. **Computing the distance**

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [3]:
import math 
def dist_euc(u,v):
    return math.sqrt((v[0]-u[0])**2 + (v[1]-u[1])**2)
dist_euc((3,0),(0,4))

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [4]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [5]:
d=dict()
def count_occ(s):
    for c in (s.upper()):
        d[c]=s.count(c)
    return d
print(count_occ(s1))
print(count_occ(s2))

{'W': 3, 'R': 0, 'I': 0, 'T': 0, 'E': 0, ' ': 41, 'A': 0, 'P': 0, 'O': 0, 'G': 0, 'M': 0, 'H': 2, 'N': 0, 'S': 0, 'U': 0, 'B': 1, 'F': 1, '1': 2, '0': 2, '.': 3, 'L': 0, 'D': 0, 'V': 0, 'C': 0}
{'W': 0, 'R': 0, 'I': 0, 'T': 1, 'E': 0, ' ': 8, 'A': 0, 'P': 0, 'O': 0, 'G': 0, 'M': 0, 'H': 0, 'N': 0, 'S': 0, 'U': 0, 'B': 0, 'F': 0, '1': 2, '0': 2, '.': 3, 'L': 0, 'D': 0, 'V': 0, 'C': 0, 'Q': 0, 'K': 0, 'X': 0, 'J': 0, 'Z': 0, 'Y': 0}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [7]:
for i in l:
    if l.count(i) == 1:
        print (i)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53

Do the same exploiting only the Python data structures.

In [8]:
dict = {}
s= set()
for i in l:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
for k, v in dict.items():
    if v == 1:
        s.add(k)
print(s)
print("number of unique values: ", len(s))

{1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99}
number of unique values:  37

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [9]:
i = input("Set a value of int i: ")
f = input("Set a value of float f: ")
s = input("Set a value of string s: ")

try:
    i = int(i)
    f = float(f)
    #s is already a string
    res1 = i + f
    res2 = s + str(f)  
    res3 = s + str(i)  
    print(res1, res2, res3)

except ValueError:
    print("invalid numbers")

7.8 m2.8 m5

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
#using for loop
la = []
for x in range(11):
    la.append(x ** 3)
print(la)
#using list comprehension 
lb = [x ** 3 for x in range(11)]
print (lb)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [11]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [12]:
a = [(i,j) for i in range(3) for j in range(4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [13]:
L = [(a,b,c) for c in range(1,100) for b in range(1,c) for a in range(1,b) if a**2 + b**2 == c**2]
s = set(L) #unique values
Pythagorean_triple = list(s)
print (Pythagorean_triple)

[(30, 40, 50), (35, 84, 91), (25, 60, 65), (15, 20, 25), (6, 8, 10), (45, 60, 75), (30, 72, 78), (15, 36, 39), (27, 36, 45), (13, 84, 85), (36, 48, 60), (33, 56, 65), (9, 40, 41), (32, 60, 68), (18, 80, 82), (16, 63, 65), (10, 24, 26), (57, 76, 95), (8, 15, 17), (48, 64, 80), (9, 12, 15), (40, 42, 58), (21, 72, 75), (24, 45, 51), (14, 48, 50), (40, 75, 85), (39, 52, 65), (12, 35, 37), (16, 30, 34), (28, 45, 53), (24, 70, 74), (11, 60, 61), (5, 12, 13), (21, 28, 35), (18, 24, 30), (51, 68, 85), (12, 16, 20), (48, 55, 73), (60, 63, 87), (20, 21, 29), (65, 72, 97), (20, 48, 52), (33, 44, 55), (3, 4, 5), (24, 32, 40), (42, 56, 70), (39, 80, 89), (54, 72, 90), (36, 77, 85), (7, 24, 25)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [14]:
import math
v = (4,6,7)
n=0
normalized_V = tuple()
for x in v:
    n += x ** 2

sq = math.sqrt(n)
for x in v: 
    normalized_V += (x/sq ,)
print(normalized_V)

(0.39801487608399566, 0.5970223141259935, 0.6965260331469925)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [15]:
fib= [0,1]
for i in range(2,20):
    fib.append(fib[i-1] + fib[i-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]